<!DOCTYPE html>
<html lang="en"><head><title>Fansubs.magic.id</title>
<meta charset="utf-8">
<META NAME="description" CONTENT="Fansubs.magic.id">
<META NAME="keywords" CONTENT="fansubs.magic.id, fansubs, Fansub, Anime, iqbalrifai">
<link href="//kentutneraka.org/css/pure-min.css" rel="stylesheet" media="screen">
<link href="//kentutneraka.org/css/main.css" rel="stylesheet" media="screen">
<link rel="stylesheet" href="//kentutneraka.org/kn.css" type="text/css" />
<link rel="shortcut icon" href="http://puu.sh/kjiKX/97d5bb4118.png"/>
 </style>
</head>
<style>
body {background:#f7f7f7}
</style>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9&appId=178828899723";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div id="box" class="main">
<div id="☭" class="pure-u">
<table class="pure-table pure-table-horizontal">
<thead>
<a href="http://fansubs.magic.id/">☭</a> |
<a href="http://fansubs.magic.id/shows/airing.htm">SHOWTIMES</a> |
<a href="http://fansubs.magic.id/shows/completed.htm">ANIME</a> |
<a href="http://fansubs.magic.id/staff.htm">STAF</a> |
<a href="http://fansubs.magic.id/about.htm">TENTANG</a> |
<a href="http://fansubs.magic.id/donation.htm">DONASI</a> |
<a href="http://fansubs.magic.id/recruitment.htm">PEREKRUTAN</a> |
<th width="12%">Rilisan Terbaru</th>
<th></th>
</tr></thead>
<!-- tanda -->
<tr ng-repeat="show in shows" ng-click="$state.go('shows.detail', {'showId': show._id.$oid})">
  <td><div align="left">10-07-2017</div></td>
  <td><div align="left"><a href="http://fansubs.magic.id/post/kakegurui.htm">Kakegurui - 02</a></div></td>
</tr>
</tbody></table>
<a href="https://file.magic.id"> « Lainnya</a><br>
<center>KentutNeraka ☭ 2013 - 2017</center>
</div>
</body>
Dilihat:<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
var sc_project=11340576; 
var sc_invisible=0; 
var sc_security="944c579d"; 
var sc_text=2; 
var scJsHost = (("https:" == document.location.protocol) ?
"https://secure." : "http://www.");
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="web analytics"
href="http://statcounter.com/" target="_blank"><img
class="statcounter"
src="//c.statcounter.com/11340576/0/944c579d/0/" alt="web
analytics"></a></div></noscript>
<!-- End of StatCounter Code for Default Guide -->
<a href="http://statcounter.com/p11340576/?guest=1"></a>
</div>
</html>
